.room_form{
  margin:auto !important;
  float:none !important;
}
#localVideo{
  position:fixed;
  bottom:5px;
  right:5px;
  height:200px;
}
#remotesVideos {
  margin:auto;
}

#remotesVideos video{
  max-width:700px;
  margin:5px;
  box-shadow: 2px 2px 7px black;
  height:350px;
}

.action_bar{
  position:fixed;
  bottom:5px;
  left:5px;
}
